.modal-content {
    margin: 0 15vw;
    line-height: 200%;
}

.title {

    display: flex;
    align-items: center;
    margin-top: 4rem;

    .icon {
        width: 5rem;
        height: 5rem;
        border-radius: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
        }
    }

    .title-text {
        margin-left: 1rem;

    }
}

.body {
    margin: 3rem 0;
    .case{
        margin: 2rem 0;

        .case-tag {
            margin-top: 1rem;
            border-bottom: solid 2px #e4286d;
        }

        .subtitle {
            margin-top: 2rem;

        }

        .description {
            margin-top: 0.5rem;
            margin-left: 1rem;
            ul {
                margin: 0.5rem 0;
                margin-left: 3rem;
            }
        }

        .figure {
            text-align: center;
            margin: 2rem 0;
        }
    }
}

#cl-red {
    background-color: #d43a59;
}

#cl-blue {
    background-color: #4f4ca6;
}

#cl-green {
    background-color: #4bb088;
}
